%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .form-horizontal
    .form-group
      = f.label :first_name, class: "col-sm-3 control-label"
      .col-sm-4
        = f.text_field :first_name, autofocus: true, class: "form-control"

    .form-group
      = f.label :email, class: "col-sm-3 control-label"
      .col-sm-4
        = f.email_field :email, autofocus: true, class: "form-control"

    .form-group
      .col-sm-3.control-label
        = f.label :password
        - if @minimum_password_length
          %p
            (#{@minimum_password_length} characters minimum)
      .col-sm-4
        = f.password_field :password, autocomplete: "off", class: "form-control"

    .form-group
      = f.label :password_confirmation, class: "col-sm-3 control-label"
      .col-sm-4
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

    .row
      .col-sm-offset-3.col-sm-4
        %p.bg-warning
          Wir sind ein Studentenprojekt und haben derzeit keine verschlüsselte Verbindung. Verwenden Sie deshalb bitte keine Passwörter, die Sie schon für andere Dienste benutzen.

    .form-group
      .col-sm-offset-3.col-sm-9
        .actions
          = f.submit "Sign up", class: "btn btn-primary"
          = render "devise/shared/links"
