.well.user-box
  .row.vertical-center
    .col-md-9.user-information
      .col-md-3
        = image_tag 'user_dummy.jpg', height: 80, widht: 80
      .col-md-9
        %p
          = link_to user.name, user_path(user)
        %p
          = user.email
    .col-md-3.buttons
      = link_to user_books_path(user) do
        %button.btn.btn-primary.btn-block
          Show Books
      - if @book
        = link_to '/' do
          %button.btn.btn-primary.btn-block
            Rent now
