.row.margin-top-10
  .col-sm-4.col-xs-12#book-img
    =image_tag @book.image_link, class:"thumbnail"
  .col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        %h4
          = @book.title
      .panel-body
        %h5
          .row
            .col-md-3.padding-10
              %strong
                Authors:
            .col-md-9.padding-10
              = @book.authors.join(', ')
            .col-md-3.padding-10
              %strong
                Pages:
            .col-md-9.padding-10
              = @book.pages
            .col-md-3.padding-10
              %strong
                Description:
            .col-md-9.padding-10
              = @book.description

%hr

.margin-top-10
  - @book.owners.each do |owner|
    = render 'owners/box', user: owner
