.row.margin-top-10
  .col-sm-4.col-xs-12#book-img
    =image_tag @book.image_link, class:"thumbnail"
  .col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        %h4
          = @book.title
      .panel-body
        %h5
          .row
            .col-md-3.padding-10
              %strong
                Authors:
            .col-md-9.padding-10
              = @book.authors.join(', ')
            .col-md-3.padding-10
              %strong
                Pages:
            .col-md-9.padding-10
              = @book.pages
            .col-md-3.padding-10
              %strong
                Description:
            .col-md-9.padding-10
              = @book.description

%hr
.row
  .col-md-10.col-sm-9.col-xs-8
    %h4
      People owning this book:
  .col-md-2.col-sm-3.col-xs-4
    = link_to book_owners_path(@book) do
      .btn.btn-primary.full-width
        Show all

.margin-top-10
  - @book.owners.first(2).each do |owner|
    = render 'users/box', user: owner
