%section.section-seperated
  = bootstrap_form_for(@borrow_request,
    url: user_book_borrow_requests_path(requester_id: current_user.id)) do |f|
    .field.seperated-sm
      = f.text_field :borrow_start, class: 'datepicker',
        label: 'Startdatum: Wann willst du das Buch erhalten?', required: true
    .field.seperated-sm
      = f.text_field :borrow_end, class: 'datepicker',
        label: 'Enddatum: Wie lange willst du es ausleihen?', required: true
    .field.seperated-sm
      = f.collection_radio_buttons :place_id, @places, :id, :name,
        label: 'Ort: Wo wird es übergeben?', required: true
    .submit-button.actions.seperated-sm
      = f.submit "Anfragen"
