<!DOCTYPE html>
%html
  %head
    %title BookAndRead
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    '//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'logo.png', rel: 'apple-touch-icon', type: 'image/png'
  %body

    .alpha-sign-outer
      .alpha-sign-inner
        %strong
          Dies ist eine Alpha-Version.
        %br
        .small-text
          = link_to 'Was ist eine Alpha-Version?', 'https://de.wikipedia.org/wiki/Entwicklungsstadium_%28Software%29'

    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false",
           "data-target" => "#main-navigation", "data-toggle" => "collapse",
            :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'BookAndRead', root_path


        #main-navigation.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              = render "layouts/dropdown"
            - else
              .dropdown
                =fa_icon "sign-in",class: "navbar-link"
                = link_to "Register", new_user_registration_path,
                  :class => 'navbar-link seperator'
                = link_to "Login", new_user_session_path,
                  :class => 'navbar-link'

    .container
      = render_breadcrumbs separator: ' / '
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield

    %footer{:role => "contentinfo"}
      .container
        .row
          .col-sm-4
            %h4 Über uns
            %p
              Das Team hinter Book and Read besteht aus Martin Görick, Paul
              Kunze, Dennis Hägler und Philip Drozd.
            %p
              Wir wollen den Austausch von Fachbüchern fördern und dafür
              eine Plattform für alle bereitstellen.
            %p
              © 2015 Book and Read
          .col-sm-4
            %h4 Menü
            %nav
              %ul
                %li
                  = link_to 'Startseite', root_path
                %li
                  = link_to 'Verfügbare Bücher', available_books_path
                %li
                  = link_to 'Impressum', imprint_path
          .col-sm-4
            %h4 Kontakt
            %address
              %p
                Machonstraße 24
                %br
                12105 Berlin
              %p E-Mail: info@bookandread.com
