<!DOCTYPE html>
%html
  %head
    %title BookAndRead
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false",
           "data-target" => "#main-navigation", "data-toggle" => "collapse",
            :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'BookAndRead', '/'

        #main-navigation.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              = render "layouts/dropdown"
            - else
              = link_to "Register", new_user_registration_path,
                :class => 'navbar-link'
              |
              = link_to "Login", new_user_session_path,
                :class => 'navbar-link'

    .container
      = render_breadcrumbs separator: ' / '

      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield

    %footer{:role => "contentinfo"}
      .container
        .row
          .col-sm-4
            %h4 Über uns
            %p
              Das Team hinter Book and Read besteht aus Martin Görick, Paul
              Kunze, Sophie Zabel, Dennis Hägler und Philip Drozd.
            %p
              Wir sind Informatik-Studenten an der Freien Universität Berlin
              und wir entwickeln dieses Portal im Rahmen des
              Funpreneur-Wettbewerbs, einer Veranstaltung von Profund
              Innovation.
            %p
              © 2015 Book and Read
          .col-sm-4
            %h4 Menü
            %nav
              %ul
                %li
                  = link_to 'Startseite', '#'
                %li
                  = link_to 'Über uns', '#'
                %li
                  = link_to 'Unterseite', '#'
                %li
                  = link_to 'Kontakt', '#'
          .col-sm-4
            %h4 Kontakt
            %address
              %p Jägerstraße
              %p 10179 Berlin
              %p Telefon: +49 30 9231341
              %p E-Mail: hello@book-and-read.de
