<!DOCTYPE html>
%html
  %head
    %title BookAndRead
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-navigation", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'BookAndRead', '/'
        #main-navigation.navbar-collapse
          .login-box
            - if user_signed_in?
              Logged in as
              %strong
                = current_user.email
              = link_to 'Meine Bücher', user_books_path(current_user),
                class: 'navbar-link'
              |
              = link_to 'Meine Anfragen', user_borrow_requests_path(current_user),
                class: 'navbar-link'
              |
              = link_to 'Edit profile', edit_user_registration_path,
                :class => 'navbar-link'
              |
              = link_to "Logout", destroy_user_session_path,
                method: :delete,
                :class => 'navbar-link'
            - else
              = link_to "Register", new_user_registration_path,
                :class => 'navbar-link'
              |
              = link_to "Login", new_user_session_path,
                :class => 'navbar-link'
    .container
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield

    %footer{:role => "contentinfo"}
      .container
        .row
          .col-sm-4
            %h4 Über uns
            %p
              Das Team hinter Book and Read besteht aus Martin Görick, Paul
              Kunze, Dennis Hägler und Philip Drozd.
            %p
              Wir wollen den Austausch von Fachbüchern fördern und dafür
              eine Plattform für alle bereitstellen.
            %p
              © 2015 Book and Read
          .col-sm-4
            %h4 Menü
            %nav
              %ul
                %li
                  = link_to 'Startseite', root_path
                %li
                  = link_to 'Verfügbare Bücher', available_books_path
                %li
                  = link_to 'Impressum', imprint_path
          .col-sm-4
            %h4 Kontakt
            %address
              %p Machonstraße 24
              %p 12105 Berlin
              %p E-Mail: info@bookandread.com
